

.wrap{
    width: 100%;
    }

.split {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 0;
    top: 0px;
    overflow-x: auto;
    padding-top: 0%;
}

.left {
    left: 0;
    background-color: #c0d1ed;
    /*background-color: fffffff;*/
}

.right {
    right: 0;
    background-color: #e8ffe8;
}

.centered {
    position: absolute;
    margin-left:  25%;
    margin-right: 25%;
    margin-top: 20%;
    /*top: 10%;*/
    /*left: 10%;*/
    /*transform: translate(-50%, -50%);*/
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}


.singleArea{
    background-color: #d22630;

}



.codeText{
    /*color: #002000;*/
    font-size: 16;
    /*margin-top: 10%;*/
    padding: 20px;
    /*width: 500px;*/
    /*font-variant: small-caps;*/
    /*background-color: #82ffbc;*/
    overflow: auto;
    font-family: monospace;;


    /*resize: auto;*/

   /* width: 100%;
    rows = 25;*/
    /*height: 100%;*/


}

ul{
     list-style-type: none;
    /*margin: 10;*/
    /*padding: 0;*/
    overflow: hidden;
    background-color: #39473d;
    position: fixed;
    top: 0;
    /*left: 0;*/
    width: 100%;
    z-index: 99

}

ul.a{
    margin-top: 0;
    left: 0;
    /*background-color: green;*/


}

ul.b {
    padding: 15px;
    color: white;
    background-color: #6b81a5;
    margin-top: 46px;
    height: 25px;

}

ul.c {
    padding: 15px;
    color: white;
    background-color: #6dad6d;
    margin-top: 46px;
    height: 25px;
}




li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}




li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}



.loader {
   /*background-color: rgba(0,0,0,.25);*/
   visibility: hidden;
   border: 15px solid #e8ffe8;
  border-radius: 50%;
  border-top: 15px solid  #c0d1ed;
  width: 200px;
  height: 200px;
  -webkit-animation: spin 2s exponential infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}